{% extends 'mailing/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="row text-right">
    <div class="col-6">
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Информация о клиенте</h4>
            </div>

            <div class="card-body">
                <p class="card-text">

                    <br>
                    <b>Имя: </b>{{client.name}}
                    <br> <br>
                    <b>Email: </b>{{client.email}}
                    <br> <br>
                    <b>Комментарий: </b>{{client.comment}}
                    <br> <br>
                    <b>Добавил клиента: </b>{{client.owner}}
                    <br><br>

                </p>
                <div class="btn-group">

                    <a class="btn btn-primary" href="{% url 'mailing:clients_list' %}" role="button"> Назад
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}